<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Webinar\RemoteData\Model\Api\RankRetrieverInterface"
                type="Webinar\RemoteData\Model\Api\Client"/>

    <preference for="Webinar\RemoteData\Api\RankProviderInterface"
                type="Webinar\RemoteData\Service\RankProvider"/>
</config>
